body{
  color: #4d4d4d;
}

marquee{
  font-size: 16vw;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

#blurb{
  font-size: 2.5vw;
}

#about{
  font-size: 2vw;
}

#nav{
  font-size: 1.5vw;
}

#about-me{
  color: black;
  font-size: 2vw;
  padding-top: 3vh;
}

#about-left{
  font-size: 2vw;
  padding-right: 2vw;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
  padding-bottom: 15vh;
}

#games-head {
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
  padding-bottom: 15vh;
}

#about-container {
  background-image: url("ribbons.png");
  background-size: 100% auto;
  border: 3px solid #fff;
  padding: 20px;
  display: flex;
}

#left{
  width: 49%;
  float: left;
  text-align: justify;
} 

#right{
  width: 49%;
  float: right;
  text-align: justify;
} 

#portrait{
  box-shadow: -10px 5px 5px gray;
  border-radius: 25px;
  width: 75%;
  height: auto;
  position: relative;
}

#pic{
  width: 75%;
  height: auto;
}

#screenshot-right{
  box-shadow: 10px 5px 5px gray;
  width: 95%;
  height: auto;
}

#screenshot-left{
  box-shadow: -10px 5px 5px gray;
  width: 95%;
  height: auto;
  float: left;
}

#icon-link-container{
  display: flex;
}

.icon{
  height: 8vh;
  width: auto;
}

#linkedIn{
  padding-left: 8vw;
}

#osc-header{
  align-self: flex-end;
}

#osc{
  font-size: 3vw;
}

#screenshot-wrap{
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.two-d{
  font-family: 'Press Start 2P', monospace;
}

#schwifty{
  font-family: 'GetSchwifty';
}

.eurostile{
  font-family: 'Eurostile LT Std';
  color: black;
}

@font-face {
  font-family: 'GetSchwifty';
  src: url("get_schwifty.ttf");
}

@font-face {
  font-family: 'Eurostile LT Std';
  src: url("EurostileLTStd-BoldEx2.otf");
}